name: Build Linux Static

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  Qt_minor_version: 5.15
  Qt_patch_version: 5.15.18
  openssl_header_location: /usr/include
  openssl_lib_location: /usr/lib/x86_64-linux-gnu
  
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:        
      - uses: actions/checkout@v4
      - name: Download Qt ${{ env.Qt_patch_version }}
        run: |
          wget https://download.qt.io/archive/qt/${{ env.Qt_minor_version }}/${{ env.Qt_patch_version }}/single/qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz
          
      - name: Extract Qt ${{ env.Qt_patch_version }}
        run: |
          tar -xf qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz
          rm -f qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz

      - name: Install Ninja
        run: |
          sudo apt-get update && sudo apt-get install ninja-build

      - name: Install dependencies
        run: |
          unzip libdrm-2.4.126.zip
          sudo apt-get install build-essential \
          pkg-config gnome-desktop-testing libasound2-dev libpulse-dev \
          libaudio-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
          libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev \
          libxkbcommon-dev libgbm-dev \
          libdbus-1-dev libibus-1.0-dev libudev-dev libpipewire-0.3-dev libwayland-dev libdecor-0-dev liburing-dev

      - name: Configure Qt ${{ env.Qt_patch_version }}
        working-directory: qt-everywhere-src-${{ env.Qt_patch_version }}
        run: |
          ./configure \
          -opensource \
          -confirm-license \
          -release \
          -static \
          -platform linux-clang \
          -nomake examples \
          -nomake tests \
          -no-compile-examples \
          -no-dbus \
          -no-accessibility \
          -qt-doubleconversion \
          -no-glib \
          -no-icu \
          -openssl-linked \
          -I "${{ env.openssl_header_location }}" \
          -I "${{ github.workspace }}/include" \
          -L "${{ env.openssl_lib_location }}" \
          -L "${{ github.workspace }}/lib" \
          -no-schannel \
          -no-securetransport \
          -no-cups \
          -no-fontconfig \
          -no-harfbuzz \
          -no-gtk \
          -no-opengl \
          -no-egl \
          -no-direct2d \
          -no-eglfs \
          -no-libudev \
          -no-xkbcommon \
          -gif \
          -qt-libpng \
          -qt-libjpeg \
          -no-ico \
          -no-sql-db2 \
          -no-sql-ibase \
          -no-sql-mysql \
          -no-sql-oci \
          -no-sql-odbc \
          -no-sql-psql \
          -no-sql-sqlite \
          -no-sql-sqlite2 \
          -no-sql-tds \
          -no-tiff \
          -no-webp \
          -no-feature-sqlmodel \
          -no-feature-testlib_selfcover \
          -no-feature-textmarkdownreader \
          -no-feature-textmarkdownwriter \
          -no-feature-textodfwriter \
          -no-feature-printer \
          -skip qt3d \
          -skip qtactiveqt \
          -skip qtandroidextras \
          -skip qtcanvas3d \
          -skip qtcharts \
          -skip qtconnectivity \
          -skip qtdatavis3d \
          -skip qtdeclarative \
          -skip qtdoc \
          -skip qtfeedback \
          -skip qtgamepad \
          -skip qtgraphicaleffects \
          -skip qtlocation \
          -skip qtlottie \
          -skip qtmacextras \
          -skip qtnetworkauth \
          -skip qtpim \
          -skip qtpurchasing \
          -skip qtqa \
          -skip qtquick3d \
          -skip qtquickcontrols \
          -skip qtquickcontrols2 \
          -skip qtquicktimeline \
          -skip qtremoteobjects \
          -skip qtrepotools \
          -skip qtscript \
          -skip qtscxml \
          -skip qtsensors \
          -skip qtserialbus \
          -skip qtserialport \
          -skip qtspeech \
          -skip qtsystems \
          -skip qttools \
          -skip qttranslations \
          -skip qtwayland \
          -skip qtwebchannel \
          -skip qtwebengine \
          -skip qtwebglplugin \
          -skip qtwebsockets \
          -skip qtwebview \
          -skip qtwinextras \
          -skip qtx11extras \
          -skip qtxmlpatterns
          
      - name: Build Qt ${{ env.Qt_patch_version }}
        working-directory: qt-everywhere-src-${{ env.Qt_patch_version }}
        run: |
          make
          
      - name: Install Qt ${{ env.Qt_patch_version }}
        working-directory: qt-everywhere-src-${{ env.Qt_patch_version }}
        run: |
          sudo make install
          
      - name: Upload library to Github
        working-directory: /usr/local
        shell: bash
        env:
          PAT: ${{ secrets.SuperUser }}
        run: |
          sudo git config --global user.name "${{ github.actor }}"
          sudo git config --global user.email "${{ github.actor }}@example.com"
          sudo git init
          sudo git add Qt-${{ env.Qt_patch_version }}
          sudo git commit -m "Initial commit"
          sudo git branch -M main
          sudo git remote add origin https://${{ env.PAT }}@github.com/${{ github.actor }}/Qt-Linux-Static.git
          sudo git remote -v
          sudo git push origin main
