name: Build Windows Shared

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  Qt_minor_version: 5.15
  Qt_patch_version: 5.15.18
  openssl_location: C:\Program Files\OpenSSL
  sevenzip_location: C:\Program Files\7-Zip
  
jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Install Visual Studio platform toolset v141
        shell: cmd
        run: |
          "%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\setup.exe" modify --quiet --norestart --includeRecommended --installPath "C:\Program Files\Microsoft Visual Studio\2022\Enterprise" --channelId VisualStudio.15.Release --add Microsoft.VisualStudio.Component.VC.v141.x86.x64
          
      - name: Download Qt ${{ env.Qt_patch_version }}
        shell: pwsh
        run: |
          $AllProtocols = [System.Net.SecurityProtocolType]'Tls,Tls11,Tls12'
          [System.Net.ServicePointManager]::SecurityProtocol = $AllProtocols
          
          $ProgressPreference = 'SilentlyContinue'
          $qt_archive_file = "C:\" + "qt-everywhere-opensource-src-${{ env.Qt_patch_version }}" + ".tar.xz"
          Invoke-WebRequest -Uri https://download.qt.io/archive/qt/${{ env.Qt_minor_version }}/${{ env.Qt_patch_version }}/single/qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz -OutFile $qt_archive_file
          
      - name: Extract Qt ${{ env.Qt_patch_version }}
        working-directory: ${{ env.sevenzip_location }}
        shell: cmd
        run: |
          7z x C:\qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz -oC:\
          7z x C:\qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar -oC:\
          del C:\qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz
          del C:\qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar
          
      - name: Install Ninja
        shell: pwsh
        run: |
          choco install ninja

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          toolset: 14.16
      - name: Configure Qt ${{ env.Qt_patch_version }}
        working-directory: C:/qt-everywhere-src-${{ env.Qt_patch_version }}
        shell: cmd
        run: |
          configure.bat ^
          -opensource ^
          -confirm-license ^
          -debug-and-release ^
          -shared ^
          -platform win32-msvc ^
          -mp ^
          -nomake examples ^
          -nomake tests ^
          -no-compile-examples ^
          -no-dbus ^
          -no-accessibility ^
          -qt-doubleconversion ^
          -no-icu ^
          -openssl-linked OPENSSL_LIBS="-lUser32 -lAdvapi32 -lGdi32 -lCrypt32 -lWs2_32" OPENSSL_PREFIX="${{ env.openssl_location }}" OPENSSL_LIBS_RELEASE="-llibcrypto64MT -llibssl64MT" OPENSSL_LIBS_DEBUG="-llibcrypto64MTd -llibssl64MTd" ^
          -I "${{ env.openssl_location }}\include" ^
          -L "${{ env.openssl_location }}\lib\VC\static" ^
          -L "C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Lib" ^
          -no-schannel ^
          -no-securetransport ^
          -no-cups ^
          -no-fontconfig ^
          -no-freetype ^
          -no-harfbuzz ^
          -no-gtk ^
          -no-opengl ^
          -no-direct2d ^
          -no-eglfs ^
          -no-ico ^
          -no-sql-db2 ^
          -no-sql-ibase ^
          -no-sql-mysql ^
          -no-sql-oci ^
          -no-sql-odbc ^
          -no-sql-psql ^
          -no-sql-sqlite ^
          -no-sql-sqlite2 ^
          -no-sql-tds ^
          -no-tiff ^
          -no-webp ^
          -no-feature-sqlmodel ^
          -no-feature-testlib_selfcover ^
          -no-feature-textmarkdownreader ^
          -no-feature-textmarkdownwriter ^
          -no-feature-textodfwriter ^
          -no-feature-printer ^
          -skip qt3d ^
          -skip qtactiveqt ^
          -skip qtandroidextras ^
          -skip qtcanvas3d ^
          -skip qtcharts ^
          -skip qtconnectivity ^
          -skip qtdatavis3d ^
          -skip qtdeclarative ^
          -skip qtdoc ^
          -skip qtfeedback ^
          -skip qtgamepad ^
          -skip qtgraphicaleffects ^
          -skip qtlocation ^
          -skip qtlottie ^
          -skip qtmacextras ^
          -skip qtnetworkauth ^
          -skip qtpim ^
          -skip qtpurchasing ^
          -skip qtqa ^
          -skip qtquick3d ^
          -skip qtquickcontrols ^
          -skip qtquickcontrols2 ^
          -skip qtquicktimeline ^
          -skip qtremoteobjects ^
          -skip qtrepotools ^
          -skip qtscript ^
          -skip qtscxml ^
          -skip qtsensors ^
          -skip qtserialbus ^
          -skip qtserialport ^
          -skip qtspeech ^
          -skip qtsystems ^
          -skip qttools ^
          -skip qttranslations ^
          -skip qtvirtualkeyboard ^
          -skip qtwayland ^
          -skip qtwebchannel ^
          -skip qtwebengine ^
          -skip qtwebglplugin ^
          -skip qtwebsockets ^
          -skip qtwebview ^
          -skip qtwinextras ^
          -skip qtx11extras ^
          -skip qtxmlpatterns

      - name: Build Qt ${{ env.Qt_patch_version }}
        working-directory: C:/qt-everywhere-src-${{ env.Qt_patch_version }}
        shell: pwsh
        run: |
          nmake
          
      - name: Install Qt ${{ env.Qt_patch_version }}
        working-directory: C:/qt-everywhere-src-${{ env.Qt_patch_version }}
        shell: pwsh
        run: |
          nmake install

      - name: Upload Qt library to GitHub repo
        working-directory: C:/Qt
        env:
          PAT: ${{ secrets.SuperUser }}
        shell: cmd
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@example.com"
          git init
          git add Qt-${{ env.Qt_patch_version }}
          git commit -m "Initial commit"
          git branch -M main
          git remote add origin https://"%PAT%"@github.com/${{ github.actor }}/Qt-Win-Shared.git
          git remote -v
          git push origin main
