name: Build macOS Shared

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  Qt_minor_version: 5.15
  Qt_patch_version: 5.15.18
  openssl_location: /usr/local/Cellar/openssl@1.1/1.1.1w
  
jobs:
  build:
    runs-on: macos-15-intel
    steps:        
      - name: Download Qt ${{ env.Qt_patch_version }}
        run: |
          wget https://download.qt.io/archive/qt/${{ env.Qt_minor_version }}/${{ env.Qt_patch_version }}/single/qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz
          
      - name: Extract Qt ${{ env.Qt_patch_version }}
        run: |
          tar -xf qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz
          rm -f qt-everywhere-opensource-src-${{ env.Qt_patch_version }}.tar.xz

      - name: Configure Qt ${{ env.Qt_patch_version }}
        working-directory: qt-everywhere-src-${{ env.Qt_patch_version }}
        run: |
          ./configure \
          -opensource \
          -confirm-license \
          -debug-and-release \
          -shared \
          -platform macx-clang \
          -nomake examples \
          -nomake tests \
          -no-compile-examples \
          -no-dbus \
          -no-accessibility \
          -qt-doubleconversion \
          -no-icu \
          -openssl-linked \
          -I "${{ env.openssl_location }}/include" \
          -L "${{ env.openssl_location }}/lib" \
          -no-schannel \
          -no-securetransport \
          -no-cups \
          -no-fontconfig \
          -no-freetype \
          -no-harfbuzz \
          -no-gtk \
          -no-opengl \
          -no-direct2d \
          -no-eglfs \
          -no-ico \
          -no-sql-db2 \
          -no-sql-ibase \
          -no-sql-mysql \
          -no-sql-oci \
          -no-sql-odbc \
          -no-sql-psql \
          -no-sql-sqlite \
          -no-sql-sqlite2 \
          -no-sql-tds \
          -no-tiff \
          -no-webp \
          -no-feature-sqlmodel \
          -no-feature-testlib_selfcover \
          -no-feature-textmarkdownreader \
          -no-feature-textmarkdownwriter \
          -no-feature-textodfwriter \
          -no-feature-printer \
          -skip qt3d \
          -skip qtactiveqt \
          -skip qtandroidextras \
          -skip qtcanvas3d \
          -skip qtcharts \
          -skip qtconnectivity \
          -skip qtdatavis3d \
          -skip qtdeclarative \
          -skip qtdoc \
          -skip qtfeedback \
          -skip qtgamepad \
          -skip qtgraphicaleffects \
          -skip qtlocation \
          -skip qtlottie \
          -skip qtmacextras \
          -skip qtnetworkauth \
          -skip qtpim \
          -skip qtpurchasing \
          -skip qtqa \
          -skip qtquick3d \
          -skip qtquickcontrols \
          -skip qtquickcontrols2 \
          -skip qtquicktimeline \
          -skip qtremoteobjects \
          -skip qtrepotools \
          -skip qtscript \
          -skip qtscxml \
          -skip qtsensors \
          -skip qtserialbus \
          -skip qtserialport \
          -skip qtspeech \
          -skip qtsystems \
          -skip qttools \
          -skip qttranslations \
          -skip qtwayland \
          -skip qtwebchannel \
          -skip qtwebengine \
          -skip qtwebglplugin \
          -skip qtwebsockets \
          -skip qtwebview \
          -skip qtwinextras \
          -skip qtx11extras \
          -skip qtxmlpatterns
          
      - name: Build Qt ${{ env.Qt_patch_version }}
        working-directory: qt-everywhere-src-${{ env.Qt_patch_version }}
        run: |
          make
          
      - name: Install Qt ${{ env.Qt_patch_version }}
        working-directory: qt-everywhere-src-${{ env.Qt_patch_version }}
        run: |
          sudo make install
          
      - name: Upload library to Github
        working-directory: /usr/local
        shell: bash
        env:
          PAT: ${{ secrets.PAT }}
        run: |
          sudo git config --global user.name "${{ github.actor }}"
          sudo git config --global user.email "${{ github.actor }}@example.com"
          sudo git init
          sudo git add Qt-${{ env.Qt_patch_version }}
          sudo git commit -m "Initial commit"
          sudo git branch -M main
          sudo git remote add origin https://${{ env.PAT }}@github.com/${{ github.actor }}/Qt-macOS-Shared.git
          sudo git remote -v
          sudo git push origin main
